<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skaičiavimai</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-5">
                    <div class="card-header">Studentų sarašas</div>
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="mb-3">
                                <label class="form-label">Studento vardas:</label>
                                <input class="form-control" type="text" name="name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Studento pavardė:</label>
                                <input class="form-control" type="text" name="surname">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Telefonas:</label>
                                <input class="form-control" type="text" name="phone">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Lytis:</label>
                                <select class="form-control" name="sex">
                                    <option value=""></option>
                                    <option value="vyras">Vyras</option>
                                    <option value="moteris">Moteris</option>

                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gimimo data:</label>
                                <input class="form-control" type="datatime" name="birthday">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">El. paštas:</label>
                                <input class="form-control" type="text" name="email">
                            </div>
                            <button name="add" type="submit" class="btn btn-success">Prideti</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>